@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root[color-mode='dark'] {
  --background: #121212;
  --textColor: white;
}

:root[color-mode='light'] {
  --background: white;
  --textColor: #000;
}

body {
  background-color: var(--background);
  color: var(--textColor);
}

/* header */
.header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 65px;
  justify-content: center;
  border-bottom: 1px solid #f1f1f2;
}

.searchForm {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  padding: 10px 10px 10px 16px;
  background-color: #f1f1f2;
  border: 1px solid transparent;
  border-radius: 20px;
}

.searchForm:focus-within {
  border: 1px solid #cacaca;
}

.searchForm input {
  background-color: transparent;
  border: none;
  color: #757575;
  font-size: 16px;
  outline: none;
}

.searchForm button {
  background-color: transparent;
  border: none;
  padding-left: 10px;
  border-left: 1px solid #cacaca;
  cursor: pointer;
}

.searchForm button:hover svg {
  fill: #757575;
}

.trendBtn {
  border: 1px solid #cacaca;
  background-color: white;
  font-size: 16px;
  padding: 6px 8px 4px;
  color: #757575;
  border-radius: 4px;
  cursor: pointer;
}

.trendBtn:hover {
  background-color: #f1f1f2;
}

/* searchResult */
.searchResult {
  padding: 30px;
}

.searchResult ul {
  display: flex;
  gap: 30px 15px;
  list-style: none;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}

.searchResult li {
  height: 250px;
  border-radius: 4px;
  overflow: hidden;
  width: calc((100% - 45px) / 3);
}

.searchResult li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* loading */
.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
/* darkModeToggle */
.darkModeToggle {
  position: absolute;
  display: flex;
  align-items: center;
  right: 30px;
}

.darkModeToggle input {
  border-radius: 50%;
}

.darkModeToggle label {
  font-size: 12px;
  margin-left: 5px;
  margin-top: 4px;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1280px) {
  .searchResult li {
    height: 220px;
  }
}

@media screen and (max-width: 960px) {
  .searchResult li {
    width: calc((100% - 15px) / 2);
  }
}

@media screen and (max-width: 768px) {
  .searchResult li {
    height: 400px;
    width: 100%;
    min-width: 400px;
  }
}
